.solutions-section-bg{
      .solutions-heading-text{
          color: #001b44;
          font-style: normal;
          font-size: 2.5rem;
          font-weight: 600;
      }
      .solution-discription-text{
          color: #5d6878;
      }
  }
  
  .solution-cards{
      .QR-card{
          border-start-start-radius: 15px;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
        //   height: 300px;
  .google-logo{
    width: 200px;
  }
          .QR-code-text{
              text-align: start;
              font-size: 1.8rem;
              font-weight: 700;
              margin-top: 13px;
              color: #001b44;
            }
            .QR-dis-p{
              color: #5d6878;
            }
            .arrow{
              rotate: 50deg;
            }
      }
      
  }
  .mat-mdc-dialog-container .mdc-dialog__surface {
    display: contents;
    width: 100%;
    height: 100%;
  }
  
  //reseponsive css
@media (max-width: 576px) {
  .solution-1-sec{
    padding: 30px !important;
  }
  .icon-Onboarding{
    height: 60px !important;
  }
  hr {
    margin: 0px !important;
  }
  h2{
    font-size: 15px !important;
  }
  h6{
    font-size: 6px !important;
  }
}
:host ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  display: contents !important;
  width: 100%;
  height: 100%;
}
.watch-video-btn {
  background-color: #00acef;
  text-align: center;
  border: #00acef;
  color: #eceef1;
 
}
.watch-video-btn-2 {
  background-color: #fdfeff;
  text-align: center;
  border: solid;
  height: 35px;
  border-color: #00acef;
  color: #00acef;
}
.back-btn {
  text-decoration: none;
  margin-left: 10px;
  color: #000000;
  border: groove;
 

  height: 35px;
}