<div class="container-fluid p-0">
    <section>
      <div class="row py-5 support-1-sec-bg-img justify-content-center">
        <div class="col-md-10 support-1-section">
          <div class="col-md-7">
            <h2 class="support-headline">
                Help is here.
            </h2>
            <p class="support-content">
                Welcome to our Support Center — a place where solutions meet convenience. Whether you're navigating through our services for the first time or you're a seasoned user looking for advanced tips, our comprehensive support guides and resources are here to assist. Our goal is to empower you with the knowledge to use our tools to their fullest potential, ensuring your experience with us is both smooth and successful.
            </p>
            <div class="button-group">
              <button class="btn watch-video-btn" routerLink="/support/browse-by-topic">
                Help Center
            </button>
            <button class="btn chat-support-btn" routerLink="login">
                Chat With Support
            </button>
            </div>
          
          </div>
          <div class="col-md-4">
            <div>
              <img
                class="support-img img-fluid"
                src="../../assets/images/support/Support-1-sec-img.svg"
                alt="Logo"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>