<div class="container-fluid p-0">
  <section>
    <div class="row review-blocker-bg-img">
      <div class="col-md-10 review-blocker-1-section">
        <div class="col-md-4">
          <div>
            <img
              class="review-blocker-Qr-img img-fluid"
              src="../../../assets/images/solutions/review-blocker/review-blocker-section-1-img.svg"
              alt="Logo"
            />
          </div>
        </div>
        <div class="col-md-6">
          <p class="review-blocker-text">REVIEW BLOCKER</p>
          <h2 class="review-blocker-headline-1 ">
            Overcoming Unforeseen Barriers
          </h2>
          <p class="review-blocker-content">
            Review Blocker is an innovative feature designed to elevate your
            brand's reputation by allowing you to address customer concerns.
            It’s a simple and convenient way to ensure your online presence
            reflects the quality and dedication of your services.
          </p>
          <button class="btn watch-video-btn" routerLink="login">
            Watch Video
            <img
            class="scaner-img ms-1 img-fluid"
            src="../../assets/images/home-page-bg-imgs/video-icon.svg"
            alt="Logo"
          />
          </button>
        </div>
      </div>
    </div>
    <div class="row review-blocker-bg-2 justify-content-center">
      <div class="col-md-11 review-blocker-2-section">
        <div class="col-md-6 justify-content-center">
          <h2 class="review-blocker-headline-2">
            Efficiently Managing Irrelevant <br />
            Ratings with Ease
          </h2>
          <p class="review-blocker-content">
            Imagine a scenario where a customer from another state visited a
            restaurant with a name similar to yours. Disappointed with their
            experience, they searched online, landed on your page, and posted a
            negative review. Typically, such reviews linger on your page
            indefinitely, waiting to be addressed. However, with Review Blocker,
            you gain the ability to assess all ratings before they go public. If
            you come across a review that is irrelevant, removal becomes a
            simple task.
          </p>
        </div>
        <div class="col-md-5">
          <div>
            <img
              class="review-blocker-Qr-img img-fluid"
              src="../../../assets/images/solutions/review-blocker/Review-Blocker-sec-2-img.svg"
              alt="Logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center review-blocker-bg-img-3 mt-5">
      <div class="col-md-11 review-blocker-3-section">
      
        <div class="col-md-5">
          <div>
            <img
              class="review-blocker-Qr-img img-fluid"
              src="../../../assets/images/solutions/review-blocker/review-blocker-sec-3-img.svg"
              alt="Logo"
            />
          </div>
        </div>
        <div class="col-md-6 justify-content-center">
            <h2 class="review-blocker-headline-3">
                Navigating the Waters of a Mistaken 1-Star Review
            </h2>
            <p class="review-blocker-content">
                A common rating dilemma is the story of a one-star review paired with an enthusiastic "amazing experience!" comment. Though the sentiment is valued, the low rating tarnishes the once excellent reputation. Enter Review Blocker, where a mistakenly tapped star can become history.
            </p>
          </div>
      </div>
    </div>
    <div class="row review-blocker-bg-4 justify-content-center mt-5 ">
        <div class="col-md-11 review-blocker-2-section">
          <div class="col-md-6 justify-content-center">
            <h2 class="review-blocker-headline-4">
                Review Blocker — The Future Of Feedback
            </h2>
            <p class="review-blocker-content">
                Review Blocker is a cutting-edge solution giving businesses control by letting them check feedback before it goes public. No more irrelevant or mistakenly negative reviews tarnishing your digital reputation.
            </p>
          </div>
          <div class="col-md-5">
            <div>
              <img
                class="review-blocker-Qr-img img-fluid"
                src="../../../assets/images/solutions/review-blocker/review-blocker-sec-4-img..svg"
                alt="Logo"
              />
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
