<div class="container-fluid p-0">
    <section>
      <div class="row healthcare-services-sec-1-bg-img justify-content-center">
        <div class="col-md-10 healthcare-services-1-section">
          <div class="col-md-7">
            <p class="healthcare-services-text">HEALTHCARE SERVICES</p>
            <h2 class="healthcare-services-headline">
                Dedicate yourself to Patient Care, not review worrying.
            </h2>
            <p class="healthcare-services-content">
                With Rehook, you can enhance your review process, get the most out of your text marketing, and boost online reviews.
            </p>
            <button class="btn watch-video-btn" routerLink="login">
              Watch Video
              <img
              class="scaner-img ms-1 img-fluid"
              src="../../assets/images/home-page-bg-imgs/video-icon.svg"
              alt="Logo"
            />
            </button>
          </div>
          <div class="col-md-4">
            <div>
              <img
                class="healthcare-services-img img-fluid"
                src="../../../assets/images/services/healthcare-services/healthcare-services-sec-1-img.svg"
                alt="Logo"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center healthcare-services-bg-img-sec-2 mt-5">
        <div class="col-md-11 healthcare-services-2-section">
          <div class="col-md-5">
            <div>
              <img
                class="healthcare-services-img img-fluid"
                src="../../../assets/images/services/healthcare-services/healthcare-services-sec-2-img.svg"
                alt="Logo"
              />
            </div>
          </div>
          <div class="col-md-6 justify-content-center">
              <h2 class="healthcare-services-headline-2">
                Gather More Patients
              </h2>
              <p class="healthcare-services-content">
                By enhancing your website's conversion rate and improving its search engine ranking, you can ensure a fully booked schedule. A stronger online reputation will attract more patients to your office, while making it easier for them to reach out to you.
              </p>
              <h5 class="mt-1">
                <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                  >Get Started Now    <i class="fa fa-arrow-right"></i
                ></a>
              </h5>
            </div>
        </div>
      </div>
      <div class="row justify-content-center healthcare-services-bg-img-3">
        <div class="col-md-10 healthcare-services-3-section">
            <div class="col-md-7 justify-content-center">
                <h2 class="healthcare-services-headline">
                    Communicate With Ease
                </h2>
                <p class="healthcare-services-content">
                    Utilize text messages get feedback, improve your own process, and more with Rehook.
                </p>
                <h5 class="mt-1">
                    <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                      >Get Started Now    <i class="fa fa-arrow-right"></i
                    ></a>
                  </h5>
              </div>
          <div class="col-md-5 ">
            <div>
              <img
                class="healthcare-services-sec-3-img img-fluid"
                src="../../../assets/images/services/healthcare-services/healthcare-services-sec-3-img.svg"
                alt="Logo"
              />
            </div>
          </div>
       
        </div>
      </div>
      <div class="row p-5">
        <div class="col-md-12 healthcare-services-sec-5">
          <h1 class="healthcare-services-use-rehook">
            Hear From Content Rehook <br> Users
          </h1>
          <div
            id="carouselExample"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner d-flex">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-1.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-2.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-3.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-2.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-3.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-1.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
              <!-- Add more .carousel-item as needed -->
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>