<div class="container-fluid p-0">
    <section>
      <div class="text-center">
        <div class="row about-us-section-1-bg align-items-center">
          <div class="col-md-12 about-us-1-sec">
            <h1 class="about-us-heading-text">Introducing Rehook</h1>
            <p class="about-us-discription-text">
                Rehook is your partner in overcoming low reviews and taking control of your online reputation. Our powerful software leverages advanced text <br> marketing strategies to organically boost your business's reviews.
            </p>
          </div>
        </div>
      </div>
      <div class="row about-us-bg-img-2 justify-content-center">
        <div class="col-md-10 about-us-2-section">
          <div class="col-md-5">
            <div>
              <img
                class="about-us-solutions-img img-fluid"
                src="../../assets/images/about-us/about-us-sec-2-img.svg"
                alt="Logo"
              />
            </div>
          </div>
          <div class="col-md-7 justify-content-center">
              <h2 class="about-us-headline">
                What is Rehook?
              </h2>
              <p class="about-us-content">Rehook is elevating businesses with Smart Reputation Management.</p>
              <h3 class="about-us-key-features">Key Features:</h3>
              <p class="about-us-content">
                Text Marketing Magic: Rehook employs text marketing wizardry to encourage positive reviews, engage your audience, and naturally lift your business's online presence.
            </p>
            <p class="about-us-content">
                Review Protection Shield: Concerned about negative reviews? Fear not, Rehook has got you covered. Our innovative software effectively blocks and manages unfavorable feedback, ensuring your ratings remain unscathed and you stay ahead of the competition.
            </p>
            <p class="about-us-content">All-in-One Toolbox: Rehook offers much more than just reviews. Experience a comprehensive set of features carefully crafted to empower your business. From website chat auto-publishing and a unified inbox to SMS messaging, phone integrations, text marketing, seamless payments, and contact management, Rehook provides the tools you need to succeed.</p>
            </div>
        </div>
      </div>
      <div class="row justify-content-center about-us-bg-img-3 ">
        <div class="col-md-10 about-us-3-section ">
            <div class="col-md-7 justify-content-center">
                <h2 class="about-us-headline">
                    Why Rehook?
                </h2>
                <p class="about-us-content">
                    Scalability for All: Rehook is built to accommodate businesses of all sizes - from small startups to medium-sized enterprises and large corporations. Our scalable solution ensures that you can grow organically, without any worries or limitations.
                </p>
                <p class="about-us-content">
                    Effortless Improvement: Bid farewell to concerns about your online reputation. Rehook streamlines the process, allowing your expertise to shine while we enhance your business image.
                </p>
                <p class="about-us-content">
                    Seamless Integration: Rehook seamlessly integrates into your current workflows, delivering a hassle-free experience for businesses of all sizes. Experience a streamlined solution that enhances efficiency and productivity, tailored to meet your unique needs and requirements.
                </p>
                <p class="about-us-content">
                    Witness the transformative impact as your business reaches new heights through improved reviews and a strong online presence. Experience the difference firsthand and soar towards success.
                </p>
              </div>
          <div class="col-md-5 ">
            <div>
              <img
                class="about-us-sec-3-img img-fluid"
                src="../../assets/images/about-us/about-us-sec-3-img.svg"
                alt="Logo"
              />
            </div>
          </div>
       
        </div>
      </div>
    </section>
  </div>