<div class="container-fluid p-0">
    <section>
      <div class="row retail-services-sec-1-bg-img justify-content-center">
        <div class="col-md-10 retail-services-1-section">
          <div class="col-md-7">
            <p class="retail-services-text">RETAIL SERVICES</p>
            <h2 class="retail-services-headline">
                Expand your customer base and boost your revenue.
            </h2>
            <p class="retail-services-content">
                Rehook boosts the growth of your retail business by generating positive reviews, freeing up your team's time, attracting a larger customer base, and providing personalized marketing via SMS.
            </p>
            <button class="btn watch-video-btn" routerLink="login">
              Watch Video
              <img
              class="scaner-img ms-1 img-fluid"
              src="../../assets/images/home-page-bg-imgs/video-icon.svg"
              alt="Logo"
            />
            </button>
          </div>
          <div class="col-md-4">
            <div>
              <img
                class="retail-services-img img-fluid"
                src="../../../assets/images/services/Retail-Services/Retail-Services-sec-img.svg"
                alt="Logo"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center retail-services-bg-img-sec-2 mt-5">
        <div class="col-md-11 retail-services-2-section">
          <div class="col-md-5">
            <div>
              <img
                class="retail-services-img img-fluid"
                src="../../../assets/images/services/Retail-Services/Retail-Services-sec-2-img.svg"
                alt="Logo"
              />
            </div>
          </div>
          <div class="col-md-6 justify-content-center">
              <h2 class="retail-services-headline-2">
                Rank higher than your rivals
              </h2>
              <p class="retail-services-content">
                By gathering more customer reviews, you can enhance your visibility in search results and drive more traffic to your website and physical store. Requesting feedback via text message is a straightforward process for both your team and your clients.
              </p>
              <h5 class="mt-1">
                <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                  >Get Started Now    <i class="fa fa-arrow-right"></i
                ></a>
              </h5>
            </div>
        </div>
      </div>
      <div class="row justify-content-center retail-services-bg-img-3">
        <div class="col-md-10 retail-services-3-section">
            <div class="col-md-7 justify-content-center">
                <h2 class="retail-services-headline">
                    Deliver Exceptional Customer Service
                </h2>
                <p class="retail-services-content">
                    Provide each client with a customized experience by offering a thorough review system, customized text marketing, and simple online communication options like Webchat and click-to-text.
                </p>
                <h5 class="mt-1">
                    <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                      >Get Started Now    <i class="fa fa-arrow-right"></i
                    ></a>
                  </h5>
              </div>
          <div class="col-md-5 ">
            <div>
              <img
                class="retail-services-sec-3-img img-fluid"
                src="../../../assets/images/services/Retail-Services/Retail-Services-sec-3-img.svg"
                alt="Logo"
              />
            </div>
          </div>
       
        </div>
      </div>
      <div class="row retail-services-bg-img-4 justify-content-center mt-5">
        <div class="col-md-10 retail-services-4-section">
          <div class="col-md-5">
            <div>
              <img
                class="retail-services-img img-fluid"
                src="../../../assets/images/services/Retail-Services/Retail-Services-sec-4-img.svg"
                alt="Logo"
              />
            </div>
          </div>
          <div class="col-md-6 justify-content-center">
            <h2 class="retail-services-headline">
                Reach Clients Instantaneously
            </h2>
            <p class="retail-services-content">
                Effortlessly connect with all your clients with just a click. Having all messages in one inbox creates smooth and efficient customer communication, enhancing the overall customer experience.
            </p>
            <h5 class="mt-1">
                <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                  >Get Started Now    <i class="fa fa-arrow-right"></i
                ></a>
              </h5>
          </div>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-md-12 retail-services-sec-5">
          <h1 class="retail-services-use-rehook">
            Hear From Content Rehook <br> Users
          </h1>
          <div
            id="carouselExample"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner d-flex">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-1.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-2.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-3.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-2.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-3.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-1.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
              <!-- Add more .carousel-item as needed -->
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>