<div class="container p-0">
    <section>
      <div class="text-start mt-5">
        <div class="row solutions-section-bg align-items-center justify-content-center">
          <div class="col-md-10 solution-1-sec">
            <div class="d-flex">
                <h1 class="solutions-heading-text">Users</h1>
            </div>
      
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-10 card p-3 d-flex flex-wrap solution-cards mb-5">
            <table class=" table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Access</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{firstName}}</td>
                      <td>{{lastName}}</td>
                      <td>{{emailId}}</td>
                      <td>Admin</td>
                      <td><i class="fa fa-solid fa-plus ms-2 "></i
                        ></td>
                    </tr>

                  </tbody>
              </table>
        </div>
      </div>
    </section>
  </div>
  
    