<div class="container-fluid p-0">
  <section>
    <div class="row qr-bg-img justify-content-center">
      <div class="col-md-10 Qr-1-section">
        <div class="col-md-7">
          <p class="qr-text">QR Code</p>
          <h2 class="qr-headline">
            Streamline Your Customer's <br />
            Experience with QR Code Efficiency
          </h2>
          <p class="qr-content">
            A Quick Response (QR) code is a two-dimensional barcode that
            conveniently directs your clients to our app. These codes can be
            placed on menus or customer receipts. By simply scanning the code
            with their cell phone, customers can easily download Rehook, create
            an account, and leave a review.
          </p>
          <button class="btn watch-video-btn" routerLink="login">
            Watch Video
            <img
            class="scaner-img ms-1 img-fluid"
            src="../../assets/images/home-page-bg-imgs/video-icon.svg"
            alt="Logo"
          />
          </button>
        </div>
        <div class="col-md-4">
          <div>
            <img
              class="Streamline-Qr-img img-fluid"
              src="../../../assets/images/solutions/Qr-code/QR-Code-Efficiency-1.svg"
              alt="Logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row qr-bg-img-2 justify-content-center">
      <div class="col-md-10 Qr-2-section">
        <div class="col-md-5">
          <div>
            <img
              class="Streamline-Qr-img img-fluid"
              src="../../../assets/images/solutions/Qr-code/Qr-Game-Changer.svg"
              alt="Logo"
            />
          </div>
        </div>
        <div class="col-md-7 justify-content-center">
            <h2 class="qr-headline">
                QR Codes: The Product Engagement <br>Game Changer
            </h2>
            <p class="qr-content">
                Imagine a customer who recently dined at a restaurant and, impressed, decides to leave a review. Unlike your QR code system, this eatery offered no such convenience. The customer searched online for the business page, navigated through steps, and finally posted feedback. The process was cumbersome. Despite their positive review, they delayed posting due to inconvenience, possibly missing a chance for timely customer engagement.
            </p>
          </div>
      </div>
    </div>
    <div class="row justify-content-center qr-bg-img-3">
        <div class="col-md-10 Qr-3-section">
            <div class="col-md-7 justify-content-center">
                <h2 class="qr-headline">
                    A New Dimension of Customer <br> Convenience
                </h2>
                <p class="qr-content">
                    QR codes not only enhance the customer experience by providing instant access to what they seek but also streamlines business operations, reducing the need for manual interventions and paper-based systems. QR codes are a quick and eco-friendly way to engage and delight your customer base, offering them the modern convenience they expect.
                </p>
              </div>
          <div class="col-md-5 ">
            <div>
              <img
                class="Streamline-Qr-img img-fluid"
                src="../../../assets/images/solutions/Qr-code/Qr-section-3-Convenience-img.svg"
                alt="Logo"
              />
            </div>
          </div>
       
        </div>
      </div>
  </section>
</div>
