<div class="container-fluid p-0">
  <section class="integrations-section">
    <div class="row integrations-bg-img justify-content-center">
      <div class="col-md-10 integrations-1-section">
        <h2>Integrations</h2>
        <p>
          Rehook offers a range of powerful features designed to elevate your
          business, tailored to suit any type of <br />
          industry.
        </p>
      </div>
    </div>
    <div class="row qr-bg-img-2 justify-content-center">
      <div class="col-md-10 mt-5">
        <h2>About Google Integrations:</h2>
        <div class="ms-5">
          <p class="mb-3">
            Google offers a wide range of products and services that can be
            integrated into various applications and platforms. Some of the key
            Google services include:
          </p>
          <p>
            Google Workspace (formerly G Suite): Includes Gmail, Google Drive,
            Google Calendar, Google Docs, and other productivity tools for
            businesses.
          </p>
          <p>
            Google Cloud Platform (GCP): Provides cloud computing services,
            including computing power, storage, and machine learning.
          </p>
          <p>Google Maps: Offers mapping and location-based services.</p>
          <p>
            Google Analytics: A web analytics service that provides insights
            into website traffic and user behavior.
          </p>
          <p>
            Google Ads: Enables businesses to advertise on Google's search and
            display networks.
          </p>
          <p>
            Google Assistant: A virtual assistant that can be integrated into
            devices and applications for voice-based interactions.
          </p>

          <h3 class="my-3">Setup Process:</h3>
          <p class="mb-3">
            The setup process for Google integrations can vary depending on the
            specific product or service you are integrating. However, here are
            general steps you might encounter:
          </p>
          <p>
            Create a Google Developer Account: For many integrations, you may
            need to create a Google Developer account and register your
            application.
          </p>
          <p>
            Create API Credentials: Generate API keys or OAuth tokens to
            authenticate and authorize your application to access Google
            services.
          </p>
          <p>
            Configure Permissions: Specify the level of access your application
            requires, such as read-only or read-write permissions.
          </p>
          <p>
            Integrate API: Implement the Google API or SDK into your
            application, following the documentation provided by Google.
          </p>
          <p>
            Testing: Test your integration to ensure that it works correctly and
            handles errors gracefully.
          </p>
        </div>
      </div>
    </div>
    <div class="row qr-bg-img-2 justify-content-center">
      <div class="col-md-10 mt-5">
        <h2>About Trustpilot Integrations:</h2>
        <div class="ms-5">
          <p class="mb-3">
            Trustpilot is a platform that allows businesses to collect and
            manage customer reviews. Integrating Trustpilot into your website or
            business applications can help showcase customer feedback and build
            trust with potential customers.
          </p>
          <label for="" class="fs-5 key-features-text">Key Features:</label>
          <p>
            Review Collection: Businesses can use Trustpilot to collect and
            manage customer reviews, which can be displayed on their websites.
          </p>
          <p>
            TrustBox Widgets: Trustpilot provides TrustBox widgets that allow
            businesses to showcase reviews on their websites in various formats,
            such as a review carousel or a specific review snippet.
          </p>
          <p>
            API Access: Trustpilot offers APIs that allow businesses to
            programmatically interact with their platform, enabling custom
            integrations and more advanced use cases.
          </p>

          <h3 class="my-3">Setup Process:</h3>
          <p class="mb-3">
            The setup process for Trustpilot integrations may vary based on your
            specific use case and requirements, but it generally involves the
            following steps:
          </p>
          <p>
            Create a Trustpilot Account: To get started, you need to create an
            account on the Trustpilot platform.
          </p>
          <p>
            Business Verification: Verify your business with Trustpilot to
            ensure that you can manage and display reviews for your business.
          </p>
          <p>
            Generate API Key: If you plan to use Trustpilot's APIs for custom
            integrations, you may need to generate an API key through your
            Trustpilot Business account.
          </p>

          <p>
            Integrate TrustBox Widgets: For website integrations, businesses
            typically use TrustBox widgets provided by Trustpilot. You may need
            to customize the TrustBox widget according to your preferences and
            embed it into your website.
          </p>
          <p>
            Custom Integrations (Optional): If you're building a custom
            integration using Trustpilot APIs, follow the documentation provided
            by Trustpilot for the specific API endpoints and authentication
            methods.
          </p>
        </div>
      </div>
    </div>
    <div class="row qr-bg-img-2 justify-content-center">
      <div class="col-md-10 mt-5">
        <h2>About Yelp Integrations:</h2>
        <div class="ms-5">
          <p class="mb-3">
            Yelp is a platform that provides user-generated reviews and
            recommendations for local businesses. Integrating with Yelp can
            allow businesses to display reviews on their websites, enhance their
            online presence, and engage with customers.
          </p>
          <label for="" class="fs-5 key-features-text">Key Features:</label>
          <p>
            Business Listings: Yelp provides a platform for businesses to create
            and manage their profiles, including information such as business
            hours, location, and photos.
          </p>
          <p>
            Reviews and Ratings: Users can leave reviews and ratings for
            businesses on Yelp, and businesses can showcase these reviews on
            their websites or other platforms.
          </p>
          <p>
            Yelp Fusion API: Yelp offers the Yelp Fusion API, which allows
            developers to access Yelp's vast database of business information,
            reviews, and ratings programmatically.
          </p>

          <h3 class="my-3">Setup Process:</h3>
          <p class="mb-3">
            The setup process for Yelp integrations may vary based on the
            specific use case, but it generally involves the following steps:
          </p>
          <p>
            Create a Yelp Account: To get started, businesses need to create a
            Yelp account and claim their business listing on the platform.
          </p>
          <p>
            Yelp API Access (Optional): If you plan to use Yelp's API to
            programmatically access business data, you'll need to create an App
            on the Yelp Developer portal and obtain API credentials.
          </p>
          <p>
            Embedding Yelp Reviews: Businesses can embed Yelp reviews on their
            websites using Yelp's embed feature or widgets. This typically
            involves copying and pasting code snippets provided by Yelp.
          </p>

          <p>
            Custom Integrations (Optional): For more advanced use cases or
            specific requirements, developers can explore the Yelp Fusion API
            documentation and integrate Yelp data into their applications.
          </p>
        </div>
      </div>
    </div>
    <div class="row qr-bg-img-2 justify-content-center">
      <div class="col-md-10 mt-5">
        <h2>About Trip Advisor Integrations:</h2>
        <div class="ms-5">
          <p class="mb-3">
            TripAdvisor is a popular platform that provides reviews and
            information about hotels, restaurants, attractions, and other
            travel-related services. Integrating with TripAdvisor can enhance
            the online presence of businesses in the travel and hospitality
            industry.
          </p>
          <label for="" class="fs-5 key-features-text">Key Features:</label>
          <p>
            Business Listings: Businesses can create profiles on TripAdvisor to
            showcase information such as photos, amenities, and contact details.
          </p>
          <p>
            Reviews and Ratings: Users can leave reviews and ratings for hotels,
            restaurants, and attractions, contributing to their overall
            reputation.
          </p>
          <h3 class="my-3">Setup Process:</h3>
          <p class="mb-3">
            The setup process for integrating with TripAdvisor may include the
            following steps:
          </p>
          <p>
            Create a TripAdvisor Account: Businesses need to create an account
            on TripAdvisor and claim or create their business listing.
          </p>
          <p>
            Business Verification: Verify ownership of the business to manage
            the information displayed on the platform.
          </p>
          <p>
            TripConnect (For Booking Integration): If you want to integrate your
            booking system with TripAdvisor, you may need to sign up for
            TripConnect and obtain the necessary API credentials.
          </p>

          <p>
            Widgets and Badges: TripAdvisor provides widgets and badges that
            businesses can use to display their TripAdvisor ratings and reviews
            on their websites.
          </p>
          <p>
            Custom Integrations (Optional): For more advanced use cases,
            businesses may explore TripAdvisor's API documentation for
            additional features and integration possibilities.
          </p>
        </div>
      </div>
    </div>
    <div class="row qr-bg-img-2 justify-content-center">
      <div class="col-md-10 my-5">
        <h2>About Better Business Bureau (BBB) Integrations:</h2>
        <div class="ms-5">
          <p class="mb-3">
            The Better Business Bureau primarily serves as a platform for
            consumers to find trustworthy businesses, and businesses to build
            trust with their customers. While the BBB itself might not have
            extensive integrations, businesses often leverage their BBB profile
            and ratings on their websites or other platforms.
          </p>
          <label for="" class="fs-5 key-features-text">Key Features:</label>
          <p>
            Business Ratings and Reviews: The BBB assigns ratings to businesses
            based on their performance and customer interactions. Businesses can
            showcase these ratings and reviews on their websites.
          </p>
          <p>
            BBB Accreditation: Some businesses choose to become BBB accredited,
            which can enhance their credibility. Integration may involve
            displaying accreditation badges on the business's website.
          </p>
          <h3 class="my-3">Setup Process:</h3>
          <p class="mb-3">
            The setup process for integrating with the Better Business Bureau
            generally involves:
          </p>
          <p>
            Create/Claim BBB Business Profile: Businesses need to create a BBB
            profile or claim their existing profile to manage the information
            displayed.
          </p>
          <p>
            Obtain BBB Widgets or Badges: The BBB may provide businesses with
            widgets, badges, or other elements that can be embedded on their
            websites to showcase their BBB ratings and accreditation status.
          </p>
          <p>
            Website Integration: Embed the provided widgets or badges on the
            business's website to display BBB ratings and accreditation
            information.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
