<div class="container-fluid p-0">
  <section>
    <div class="text-center">
      <div class="row terms-conditions-section-1-bg align-items-center">
        <div class="col-md-12 terms-conditions-1-sec">
          <h1 class="terms-conditions-heading-text">Legal Center</h1>
          <p class="terms-conditions-discription-text">
            To cause as little inconvenience to your business as possible, we
            expedite your 10DLC registration. In as little as a day, become
            registered and approved.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-md-10 d-flex justify-content-around">
        <div class="col-md-4 align-self-center topic-group" id="fixed-sidebar">
          <div
            class="btn-group d-flex flex-column"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio1"
                autocomplete="off"
                checked
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio1"
                (click)="showContent('terms-of-service')"
              >
                Terms of Service
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio2"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio2"
                (click)="showContent('privacy-policy')"
              >
                Privacy Policy
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio3"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio3"
                (click)="showContent('acceptable-use-policy')"
              >
                Acceptable Use Policy
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio4"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio4"
                (click)="showContent('payments-service-terms')"
              >
                Payments Service Terms
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio5"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio5"
                (click)="showContent('fraud-protection-service-terms')"
              >
                Fraud Protection Service Terms
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio6"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio6"
                (click)="showContent('terms-of-service-help-center')"
              >
                Terms of Service Help Center
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio7"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio7"
                (click)="showContent('terminal-service')"
              >
                Terminal Service
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio8"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio8"
                (click)="showContent('referral-program-agreement')"
              >
                Referral Program Agreement
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio9"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio9"
                (click)="showContent('marketplace-terms-of-service')"
              >
                Marketplace Terms of Service
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio10"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio10"
                (click)="showContent('business-associate-agreement')"
              >
                Business Associate Agreement
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio11"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio11"
                (click)="showContent('data-processing-addendum')"
              >
                Data Processing Addendum
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
            <div>
              <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btnradio12"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary d-flex justify-content-between"
                for="btnradio12"
                (click)="showContent('phones-service-terms')"
              >
                Phones Service Terms
                <i class="fa fa-arrow-right"></i>
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-7 content-area">
          <div id="terms-of-service" class="content-section">
            <h2>Rehook Terms of Service</h2>
            <p class="mb-0">
              Rehook.com (https://www.rehook.com), including all of its related
              applications, dashboards, or platforms (individually and
              collectively, the “Website”), is owned and operated by Podium
              Corporation, Inc. (“Rehook,” “we,” “us,” or “our”). By using,
              installing, or accessing the Website or Services (as defined
              below), by signing or clicking to accept these terms or any
              Subscription Documentation (as defined below) referencing these
              terms, you agree to be bound by the following terms and conditions
              (together, these “Terms”, or this “Agreement”).
            </p>
            <p class="mb-0">
              If you are using a Podium Service on behalf of a company,
              organization, or other entity, then “Client” or “you” means that
              entity, and you are binding that entity to this Agreement. You
              represent and warrant that you have the legal power and authority
              to enter into this Agreement and that, if the Client is an entity,
              this Agreement is entered into by an employee, agent, or other
              authorized representative with all necessary authority to bind
              that entity to this Agreement.
            </p>
            <p class="mb-0">
              This Agreement includes and hereby incorporates by reference any
              Subscription Documentation executed between you and Podium, as
              well as any policies or exhibits linked to or referenced herein.
              If you have entered into a separate written agreement with Podium
              concerning specific Services, the terms of such agreement control
              if there is any conflict between the terms of such agreement and
              these Terms. Please note that we may modify this Agreement as
              described in Section 16.10 below.
            </p>
            <label for="">1. DEFINITIONS.</label>
            <p class="mb-0">
              1.1. “Business Associate Agreement” (hereinafter “BAA”) means a
              written agreement between a Covered Entity and a Business
              Associate (as those terms are defined under HIPAA) containing the
              elements specified at 45 CFR 164.504(e).
            </p>
            <p class="mb-0">
              1.2. “Confidential Information” means code, inventions, know-how,
              product plans, technical and financial, business, operational, or
              other information exchanged under this Agreement or learned during
              the performance of this Agreement, or that is identified as
              confidential at the time of disclosure or should reasonably be
              considered confidential based on the circumstances surrounding the
              disclosure and the nature of the information disclosed.
            </p>
          </div>

          <div id="privacy-policy" class="content-section"style="display: none" >
            <h2>Rehook Privacy Policy</h2>
            <p class="mb-0">
              Rehook.com (https://www.rehook.com), including all of its related
              applications, dashboards, or platforms (individually and
              collectively, the “Website”), is owned and operated by Podium
              Corporation, Inc. (“Rehook,” “we,” “us,” or “our”). By using,
              installing, or accessing the Website or Services (as defined
              below), by signing or clicking to accept these terms or any
              Subscription Documentation (as defined below) referencing these
              terms, you agree to be bound by the following terms and conditions
              (together, these “Terms”, or this “Agreement”).
            </p>
            <p class="mb-0">
              If you are using a Podium Service on behalf of a company,
              organization, or other entity, then “Client” or “you” means that
              entity, and you are binding that entity to this Agreement. You
              represent and warrant that you have the legal power and authority
              to enter into this Agreement and that, if the Client is an entity,
              this Agreement is entered into by an employee, agent, or other
              authorized representative with all necessary authority to bind
              that entity to this Agreement.
            </p>
            <p class="mb-0">
              This Agreement includes and hereby incorporates by reference any
              Subscription Documentation executed between you and Podium, as
              well as any policies or exhibits linked to or referenced herein.
              If you have entered into a separate written agreement with Podium
              concerning specific Services, the terms of such agreement control
              if there is any conflict between the terms of such agreement and
              these Terms. Please note that we may modify this Agreement as
              described in Section 16.10 below.
            </p>
            <label for="">1. DEFINITIONS.</label>
            <p class="mb-0">
              1.1. “Business Associate Agreement” (hereinafter “BAA”) means a
              written agreement between a Covered Entity and a Business
              Associate (as those terms are defined under HIPAA) containing the
              elements specified at 45 CFR 164.504(e).
            </p>
            <p class="mb-0">
              1.2. “Confidential Information” means code, inventions, know-how,
              product plans, technical and financial, business, operational, or
              other information exchanged under this Agreement or learned during
              the performance of this Agreement, or that is identified as
              confidential at the time of disclosure or should reasonably be
              considered confidential based on the circumstances surrounding the
              disclosure and the nature of the information disclosed.
            </p>
          </div>
          <div id="acceptable-use-policy" class="content-section"style="display: none" >
            <h2>Rehook Acceptable Use Policy</h2>
            <p class="mb-0">
                Rehook Acceptable Use Policy
              Rehook.com (https://www.rehook.com), including all of its related
              applications, dashboards, or platforms (individually and
              collectively, the “Website”), is owned and operated by Podium
              Corporation, Inc. (“Rehook,” “we,” “us,” or “our”). By using,
              installing, or accessing the Website or Services (as defined
              below), by signing or clicking to accept these terms or any
              Subscription Documentation (as defined below) referencing these
              terms, you agree to be bound by the following terms and conditions
              (together, these “Terms”, or this “Agreement”).
            </p>
            <p class="mb-0">
              If you are using a Podium Service on behalf of a company,
              organization, or other entity, then “Client” or “you” means that
              entity, and you are binding that entity to this Agreement. You
              represent and warrant that you have the legal power and authority
              to enter into this Agreement and that, if the Client is an entity,
              this Agreement is entered into by an employee, agent, or other
              authorized representative with all necessary authority to bind
              that entity to this Agreement.
            </p>
            <p class="mb-0">
              This Agreement includes and hereby incorporates by reference any
              Subscription Documentation executed between you and Podium, as
              well as any policies or exhibits linked to or referenced herein.
              If you have entered into a separate written agreement with Podium
              concerning specific Services, the terms of such agreement control
              if there is any conflict between the terms of such agreement and
              these Terms. Please note that we may modify this Agreement as
              described in Section 16.10 below.
            </p>
            <label for="">1. DEFINITIONS.</label>
            <p class="mb-0">
              1.1. “Business Associate Agreement” (hereinafter “BAA”) means a
              written agreement between a Covered Entity and a Business
              Associate (as those terms are defined under HIPAA) containing the
              elements specified at 45 CFR 164.504(e).
            </p>
            <p class="mb-0">
              1.2. “Confidential Information” means code, inventions, know-how,
              product plans, technical and financial, business, operational, or
              other information exchanged under this Agreement or learned during
              the performance of this Agreement, or that is identified as
              confidential at the time of disclosure or should reasonably be
              considered confidential based on the circumstances surrounding the
              disclosure and the nature of the information disclosed.
            </p>
          </div>
          <!-- Add similar divs for other content sections here -->
        </div>
      </div>
    </div>
  </section>
</div>
