<div class="container-fluid p-0">
    <section>
      <div class="row automotive-services-sec-1-bg-img justify-content-center">
        <div class="col-md-10 automotive-services-1-section">
          <div class="col-md-7">
            <p class="automotive-services-text">AUTOMOTIVE SERVICES</p>
            <h2 class="automotive-services-headline">
                Reach Your Monthly Goal & Expand <br> Your Car Company.
            </h2>
            <p class="automotive-services-content">
                Rehook helps auto dealerships and other automotive businesses generate more leads, text consumers more quickly, and streamline every transaction.
            </p>
            <button class="btn watch-video-btn" routerLink="login">
              Watch Video
              <img
              class="scaner-img ms-1 img-fluid"
              src="../../assets/images/home-page-bg-imgs/video-icon.svg"
              alt="Logo"
            />
            </button>
          </div>
          <div class="col-md-4">
            <div>
              <img
                class="automotive-services-img img-fluid"
                src="../../../assets/images/services/Automotive-Services/automotive-services-sec-1-img.svg"
                alt="Logo"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center automotive-services-bg-img-sec-2 mt-5">
        <div class="col-md-11 automotive-services-2-section">
          <div class="col-md-5">
            <div>
              <img
                class="automotive-services-img img-fluid"
                src="../../../assets/images/services/Automotive-Services/automotive-services-sec-2-img.svg"
                alt="Logo"
              />
            </div>
          </div>
          <div class="col-md-6 justify-content-center">
              <h2 class="automotive-services-headline-2">
                Exceed Your Goals
              </h2>
              <p class="automotive-services-content">
                Rehook helps auto dealerships and other automotive businesses generate more reviews, text customers more quickly, and free up your time.
              </p>
              <h5 class="mt-1">
                <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                  >Get Started Now    <i class="fa fa-arrow-right"></i
                ></a>
              </h5>
            </div>
        </div>
      </div>
      <div class="row justify-content-center automotive-services-bg-img-3">
        <div class="col-md-10 automotive-services-3-section">
            <div class="col-md-7 justify-content-center">
                <h2 class="automotive-services-headline">
                    Bring In More Customers
                </h2>
                <p class="automotive-services-content">
                    Get more vehicles into your shop by improving your internet visibility. Become the top result in local search results on review sites such as Dealer Rater, Facebook, and Google.
                </p>
                <h5 class="mt-1">
                    <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                      >Get Started Now    <i class="fa fa-arrow-right"></i
                    ></a>
                  </h5>
              </div>
          <div class="col-md-5 ">
            <div>
              <img
                class="automotive-services-sec-3-img img-fluid"
                src="../../../assets/images/services/Automotive-Services/automotive-services-sec-3-img.svg"
                alt="Logo"
              />
            </div>
          </div>
       
        </div>
      </div>
      <div class="row automotive-services-bg-img-4 justify-content-center mt-5">
        <div class="col-md-10 automotive-services-4-section">
          <div class="col-md-5">
            <div>
              <img
                class="automotive-services-img img-fluid"
                src="../../../assets/images/services/Automotive-Services/automotive-services-sec-4-img.svg"
                alt="Logo"
              />
            </div>
          </div>
          <div class="col-md-6 justify-content-center">
            <h2 class="automotive-services-headline">
                View A Complete Client History
            </h2>
            <p class="automotive-services-content">
                Engage with your clients and make sure they had a great experience, not only with your business, but also with your communications. Our unified inbox makes that easy.
            </p>
            <h5 class="mt-1">
                <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                  >Get Started Now    <i class="fa fa-arrow-right"></i
                ></a>
              </h5>
          </div>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-md-12 automotive-services-sec-5">
          <h1 class="automotive-services-use-rehook">
            Hear From Content Rehook <br> Users
          </h1>
          <div
            id="carouselExample"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner d-flex">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-1.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-2.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-3.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-2.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-3.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-1.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
              <!-- Add more .carousel-item as needed -->
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>