<div class="container-fluid p-0">
    <section>
      <div class="row unified-inbox-bg-img justify-content-center">
        <div class="col-md-10 unified-inbox-1-section">
          <div class="col-md-7">
            <p class="unified-inbox-text">UNIFIED INBOX</p>
            <h2 class="unified-inbox-headline">
                Your Central Hub for Review Management
            </h2>
            <p class="unified-inbox-content">
                Our Unified Inbox acts as a central hub for all your ratings and customer communications. By streamlining interactions, your team can manage conversations more efficiently and maintain a consistent tone and quality of service.
            </p>
            <button class="btn watch-video-btn" routerLink="login">
              Watch Video
              <img 
              class="scaner-img ms-1 img-fluid"
              src="../../assets/images/home-page-bg-imgs/video-icon.svg"
              alt="Logo"
            />
              
            </button>
          </div>
          <div class="col-md-4">
            <div>
              <img
                class="unified-inbox-solutions-img img-fluid"
                src="../../../assets/images/solutions/unified-inbox/unified-inbox-sec-1-img.svg"
                alt="Logo"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row unified-inbox-bg-img-2 justify-content-center">
        <div class="col-md-10 unified-inbox-2-section">
          <div class="col-md-5">
            <div>
              <img
                class="unified-inbox-solutions-img img-fluid"
                src="../../../assets/images/solutions/unified-inbox/unified-inbox-sec-2-img.svg"
                alt="Logo"
              />
            </div>
          </div>
          <div class="col-md-7 justify-content-center">
              <h2 class="unified-inbox-headline">
                Time Efficiency Transformed
              </h2>
              <p class="unified-inbox-content">
                Discover the Unified Inbox, your go-to hub for all customer interactions. From reviews to feedback across channels, this centralized platform simplifies feedback management, boosting efficiency and user-friendliness. Say goodbye to juggling sites and apps – now monitor your digital reputation effortlessly from one organized interface.
              </p>
            </div>
        </div>
      </div>
      <div class="row justify-content-center unified-inbox-bg-img-3">
          <div class="col-md-10 unified-inbox-3-section">
              <div class="col-md-7 justify-content-center">
                  <h2 class="unified-inbox-headline">
                    Unified Inbox Amplifies Your <br> Customer Engagement Strategy
                  </h2>
                  <p class="unified-inbox-content">
                    The Unified Inbox revolutionizes communication by enabling varied and tailored conversations with customers. Here are several types of interactions that can be managed through this dynamic tool:

                  </p>
                  <ul class="unified-inbox-content">
                    <li>Customer Queries: Instantly answer product or service inquiries, providing timely and helpful support that customers value.</li>
                    <li>Review Acknowledgment: Show appreciation for customer feedback by quickly thanking them for positive reviews and addressing any negative comments with solutions.</li>
                    <li>Issue Resolution: Engage in problem-solving discussions when customers report issues, ensuring a smooth path to resolution that enhances satisfaction and trust.</li>
                    <li>Feedback Solicitation: Reach out proactively to customers encouraging them to share their experience, driving a continuous flow of valuable insights.</li>
                    <li>Marketing Communication: Inform loyal customers about promotions or new offerings, creating opportunities for further engagement and sales.</li>
                  </ul>
                  <p class="unified-inbox-content">Utilizing the Unified Inbox for these conversations not only fortifies customer relationships but also significantly streamlines internal workflows.</p>
                </div>
               
            <div class="col-md-5 ">
              <div>
                <img
                  class="unified-inbox-solutions-img img-fluid"
                  src="../../../assets/images/solutions/unified-inbox/unified-inbox-sec-3-img.svg"
                  alt="Logo"
                />
              </div>
            </div>
         
          </div>
        </div>
    </section>
  </div>