<div class="container-fluid p-0">
  <section>
    <div class="text-center">
      <div class="row solutions-section-bg align-items-center">
        <div class="col-md-12 solution-1-sec">
          <h1 class="solutions-heading-text">Rehook Services</h1>
          <p class="solution-discription-text">
            Rehook offers a range of powerful features designed to elevate your
            business, tailored to suit any type of <br />
            industry.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-md-10 solution-cards d-flex mb-5 justify-content-center">
        <div class="col-md-6">
          <div class="card p-3  QR-card">
            <div class="d-flex justify-content-between icon-Onboarding">
              <img
                src="../../assets/images/services/services-icon/Retail-Service-icon.svg"
                alt=""
                class="img-fluid"
              />
              <a href="" class="fs-6" routerLink="/services/retail-services"
                ><i class="fa  fa-light fa-arrow-up arrow"></i></a>
            </div>
            <h5 class="QR-code-text">Retail Service</h5>
            <p class="QR-dis-p">
              Rehook is tailor-made for retail. Make sure your ratings highlight
              the diverse range of products you offer. Or reach out to your
              loyal customers via SMS to announce a limited-time sale.
              Experience the significant positive effect it can have on your
              business.
            </p>
            <h5>
              <a
                href=""
                class="Learn-more-text fw-medium "
                routerLink="/services/retail-services"
                >Read More <i class="fa fa-arrow-right"></i
              ></a>
            </h5>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-3  QR-card">
            <div class="d-flex justify-content-between icon-Onboarding">
              <img
                src="../../assets/images/services/services-icon/Home-Services-icon.svg"
                alt=""
                class="img-fluid"
              />
              <a href="" class="fs-6" routerLink="/services/home-services"
                ><i class="fa  fa-light fa-arrow-up arrow"></i></a>
            </div>
            <h5 class="QR-code-text">Home Services</h5>
            <p class="QR-dis-p">
              Our Home Services functionality is designed specifically for the
              modern home services professional. Whether you want to showcase
              your high-ratings on dishwasher repair, or your uncanny ability to
              keep paint off the wall outlets, Rehook has you covered.
            </p>
            <h5>
              <a
                href=""
                class="Learn-more-text  fw-medium"
                routerLink="/services/home-services"
                >Read More <i class="fa fa-arrow-right"></i
              ></a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-10 solution-cards d-flex mb-5 justify-content-center">
        <div class="col-md-6">
          <div class="card p-3 QR-card">
            <div class="d-flex justify-content-between icon-Onboarding">
              <img
                src="../../assets/images/services/services-icon/Automotive-Services-icon.svg"
                alt=""
                class="img-fluid"
              />
              <a href="" class="fs-6" routerLink="/services/automotive-services"
                ><i class="fa  fa-light fa-arrow-up arrow"></i></a>
            </div>
            <h5 class="QR-code-text">Automotive Services</h5>
            <p class="QR-dis-p">
              Our Automotive Services are tailored to meet the specific needs of
              automotive professionals, ranging from body shops to tire centers.
              High ratings are crucial for businesses in this industry, as
              customers value trustworthiness and highly-rated service
              providers.
            </p>
            <h5>
              <a
                href=""
                class="Learn-more-text fw-medium"
                routerLink="/services/automotive-services"
                >Read More <i class="fa fa-arrow-right"></i
              ></a>
            </h5>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-3 QR-card">
            <div class="d-flex justify-content-between icon-Onboarding">
              <img
                src="../../assets/images/services/services-icon/Healthcare-Services-icon.svg"
                alt=""
                class="img-fluid"
              />
              <a href="" class="fs-6" routerLink="/services/healthcare-services"
                ><i class="fa  fa-light fa-arrow-up arrow"></i></a>
            </div>
            <h5 class="QR-code-text">Healthcare Services</h5>
            <p class="QR-dis-p">
              If looking after others is your main focus, you've already got a
              lot on your plate. Allow us to support your business needs with
              our healthcare services.
            </p>
            <h5 class="mt-5 mb-0">
              <a
                href=""
                class="Learn-more-text fw-medium"
                routerLink="/services/healthcare-services"
                >Read More <i class="fa fa-arrow-right"></i
              ></a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
