<div class="container-fluid p-0">
  <section>
    <div class="row text-marketing-bg-img justify-content-center mt-2">
      <div class="col-md-10 text-marketing-1-section">
        <div class="col-md-6">
          <p class="text-marketing-text">TEXT MARKETING</p>
          <h2 class="text-marketing-headline">
            Harnessing the Power of Text Marketing
          </h2>
          <p class="text-marketing-content">
            Text marketing leverages the power of mobile tech, sending out
            promos or transactional messages straight to consumers' phones. With
            sky-high open rates and instant delivery, it's your fast lane to
            shining a spotlight on your business offers.
          </p>
          <button class="btn watch-video-btn" routerLink="login">
            Watch Video
            <img
            class="scaner-img ms-1 img-fluid"
            src="../../assets/images/home-page-bg-imgs/video-icon.svg"
            alt="Logo"
          />
          </button>
        </div>
        <div class="col-md-5">
          <div>
            <img
              class="text-marketing-solutions-img img-fluid"
              src="../../../assets/images/solutions/text-marketing/text-marketing-img.svg"
              alt="Logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row text-marketing-bg-img-2 justify-content-center mt-5">
      <div class="col-md-10 text-marketing-2-section">
        <div class="col-md-5">
          <div>
            <img
              class="text-marketing-solutions-img"
              src="../../../assets/images/solutions/text-marketing/text-marketing-sec-2-img.svg"
              alt="Logo"
            />
          </div>
        </div>
        <div class="col-md-6 justify-content-center">
          <h2 class="text-marketing-headline">
            Crafting Tailored Messages for Maximum Impact
          </h2>
          <p class="text-marketing-content">
            Once a customer’s contact information is secured, curated text messages can then be sent to introduce new products, offer exclusive discounts, or provide personalized recommendations. This direct line of communication becomes a powerful retargeting tool, enabling businesses to re-engage with customers in a non-intrusive manner.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-marketing-bg-img-3">
      <div class="col-md-10 text-marketing-3-section">
        <div class="col-md-7 justify-content-center">
          <h2 class="text-marketing-headline">
            Create Positive Emotions with Well-Crafted Marketing Campaigns
          </h2>
          <p class="text-marketing-content">
            Integrating transactional updates with marketing messages in SMS can elevate the customer's experience, making the engagement feel more comprehensive and customer-centric.
          </p>
        </div>
        <div class="col-md-5">
          <div>
            <img
              class="text-marketing-solutions-img img-fluid"
              src="../../../assets/images/solutions/text-marketing/text-marketing-sec-3-img.svg"
              alt="Logo"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
