<div class="container-fluid p-0">
  <section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 mt-5 d-flex">
        <div class="col-md-4 card">
          <h2>Review Funnel</h2>
          <p>
            The Review Funnel is where your customers can leave a rating on the
            landing page, be directed to a public review site, or give you
            direct feedback. Edit each page of these steps below.
          </p>

          <label for="" class="text-dark fs-4 fs-bolded"> STEP 1</label>
          <div class="card p-3 d-flex flex-row">
            <i class="fa fa-regular fa-hand text-info fs-3"></i>
            <div class="ms-3">
              <h4 >Landing Page</h4>
              <p>Reviewers are asked to rate.</p>
            </div>
            
          </div>

          <label for="" class="text-dark fs-4 fs-bolded"> STEP 2</label>
     
        </div>
        <div class="col-md-8 card"></div>
      </div>
    </div>
  </section>
</div>
