<div class="container-fluid p-0">
  <section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 mt-5 d-flex">
        <div class="col-md-4 card p-4 review-funnel-card scrollable-content">
          <h2>Review Gateway</h2>
          <p>
            The Review Gateway enables customers to rate their experience on the
            landing page, directing positive feedback to a public review site
            and guiding those with concerns to a private form for direct input,
            ensuring comprehensive and effective feedback management.
          </p>

          <label for="" class="text-dark fs-4 fs-bolded"> STEP 1</label>
          <div
            class="card p-2 d-flex flex-row"
            (click)="handleCardClick('landingpage')"
            [class.active]="activeCard === 'landingpage'"
          >
            <i class="fa fa-regular fa-hand text-info fs-3"></i>
            <div class="ms-3">
              <h4 [style.color]="activeCard === 'landingpage' ? '#00acef' : ''">
                Landing Page
              </h4>
              <p class="mb-0">Reviewers are asked to rate.</p>
            </div>
          </div>

          <label for="" class="text-dark fs-4 fs-bolded pt-3"> STEP 2</label>

          <div
            class="card p-2 d-flex flex-row"
            (click)="handleCardClick('feedbackform')"
            [class.active]="activeCard === 'feedbackform'"
          >
            <i class="fa fa-regular fa-envelope text-info fs-3"></i>
            <div class="ms-3">
              <h4
                [style.color]="activeCard === 'feedbackform' ? '#00acef' : ''"
              >
                Direct Feedback
              </h4>
              <p class="mb-0">Reviewers feedback form.</p>
            </div>
          </div>

          <label for="" class="text-dark fs-4 fs-bolded pt-3"> STEP 3</label>
          <div
            class="card p-2 d-flex flex-row"
            (click)="handleCardClick('qrcodeform')"
            [class.active]="activeCard === 'qrcodeform'"
          >
            <i class="fa fa-solid fa-qrcode text-info fs-3"></i>
            <div class="ms-3">
              <h4 [style.color]="activeCard === 'qrcodeform' ? '#00acef' : ''">
                Qr Code
              </h4>
              <p class="mb-0">Reviewers scan qr code.</p>
            </div>
          </div>
        </div>

        <div class="col-md-8 card scrollable-content">
          <label for="" class="mt-3">rehook.com/{{ businessName }}/</label>
          <div class="row justify-content-center">
            <div class="col-md-12 p-5">
              <div class="card text-center p-5" *ngIf="iscard_rating">
                <h1 class="fs-3 fw-bold">{{ businessName }}</h1>
                <p>
                  Please take a moment to review your experience with us. Your
                  feedback not only Helps other potential customers.
                </p>
                <div class="d-flex justify-content-center p-4">
                  <i class="fa fa-star fs-1 p-2"></i>
                  <i class="fa fa-star fs-1 p-2"></i>
                  <i class="fa fa-star fs-1 p-2"></i>
                  <i class="fa fa-star fs-1 p-2"></i>
                  <i class="fa fa-star fs-1 p-2"></i>
                </div>
                <label>Select a Rating</label>
              </div>
              <div class="card p-5" *ngIf="iscard_form">
                <h1 class="fs-3 fw-bold text-center">{{ businessName }}</h1>
                <p class="text-center">
                  Please take a moment to review your experience with us. Your
                  feedback not only Helps other potential customers.
                </p>
                <form [formGroup]="form">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-12 mt-4 p-0">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-float">
                            <label for="first_name">First Name<span *ngIf="!controls['first_name'].value || (controls['first_name'].invalid && (controls['first_name'].dirty || controls['first_name'].touched))" 
                              [ngClass]="{'text-danger': controls['first_name'].invalid && (controls['first_name'].dirty || controls['first_name'].touched)}"
                              >*</span
                            ></label>
                            <input
                              type="text"
                              class="form-control"
                              id="firstName"
                              placeholder="First name"
                              formControlName="first_name"
                              [ngClass]="{
                                'is-invalid':
                                  controls['first_name'].invalid &&
                                  (controls['first_name'].dirty ||
                                    controls['first_name'].touched)
                              }"
                            />
                          </div>
                          <span class="text-danger">
                            <div
                              *ngIf="
                                controls['first_name'].invalid &&
                                (controls['first_name'].dirty ||
                                  controls['first_name'].touched)
                              "
                            >
                              <small>First Name is required</small>
                            </div>
                          </span>
                        </div>
                        <div class="col-md-6">
                          <div class="form-float">
                            <label for="lastName">Last Name <span *ngIf="!controls['last_name'].value || (controls['last_name'].invalid && (controls['last_name'].dirty || controls['last_name'].touched))"
                               [ngClass]="{'text-danger': controls['last_name'].invalid && (controls['last_name'].dirty || controls['last_name'].touched)}"
                              >*</span
                            ></label>
                            <input
                              type="text"
                              class="form-control"
                              id="lastName"
                              placeholder="Last name"
                              formControlName="last_name"
                              [ngClass]="{
                                'is-invalid':
                                  controls['last_name'].invalid &&
                                  (controls['last_name'].dirty ||
                                    controls['last_name'].touched)
                              }"
                            />
                          </div>
                          <span class="text-danger">
                            <div
                              *ngIf="
                                controls['last_name'].invalid &&
                                (controls['last_name'].dirty ||
                                  controls['last_name'].touched)
                              "
                            >
                              <small>Last Name is required</small>
                            </div>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3 mb-2 px-0">
                      <div class="form-float">
                        <label for="contactNumber">Contact Number  <span 
                          *ngIf="!controls['contact_number'].value || (controls['contact_number'].invalid && (controls['contact_number'].dirty || controls['contact_number'].touched))"
                          [ngClass]="{'text-danger': controls['contact_number'].invalid && (controls['contact_number'].dirty || controls['contact_number'].touched)}"
                        >
                          *
                        </span></label>
                        <input
                          type="number"
                          class="form-control"
                          id="contactNumber"
                          placeholder="1234567890"
                          formControlName="contact_number"
                          [ngClass]="{
                            'is-invalid':
                              controls['contact_number'].invalid &&
                              (controls['contact_number'].dirty ||
                                controls['contact_number'].touched)
                          }"
                        />
                      </div>
                      <span class="text-danger">
                        <div
                          *ngIf="
                            controls['contact_number'].invalid &&
                            (controls['contact_number'].dirty ||
                              controls['contact_number'].touched)
                          "
                        >
                          <div
                            *ngIf="controls['contact_number'].errors?.['required']"
                          >
                            <small>Contact Number is required</small>
                          </div>
                          <div
                            *ngIf="controls['contact_number'].errors?.['pattern']"
                          >
                            <small>Contact Number only 10 digit</small>
                          </div>
                        </div>
                      </span>
                    </div>
                    <div class="col-md-12 mt-3 mb-2 px-0">
                      <div class="form-float">
                        <label for="email">Email address <span *ngIf="!controls['email_id'].value || (controls['email_id'].invalid && (controls['email_id'].dirty || controls['email_id'].touched))"
                          [ngClass]="{'text-danger': controls['email_id'].invalid && (controls['email_id'].dirty || controls['email_id'].touched)}"
                          >*</span
                        ></label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          placeholder="name@example.com"
                          formControlName="email_id"
                          [ngClass]="{
                            'is-invalid':
                              controls['email_id'].invalid &&
                              (controls['email_id'].dirty ||
                                controls['email_id'].touched)
                          }"
                        />
                      </div>
                      <span
                        class="text-danger"
                        *ngIf="
                          controls['email_id'].invalid &&
                          (controls['email_id'].dirty ||
                            controls['email_id'].touched)
                        "
                      >
                        <div *ngIf="controls['email_id'].errors?.['required']">
                          <small>Email Address is required</small>
                        </div>
                        <div *ngIf="controls['email_id'].errors?.['email']">
                          <small> Email must be a valid email address</small>
                        </div>
                      </span>
                    </div>
                    <div class="col-md-12 mt-3 mb-2 px-0">
                      <label for="email">Message <span  *ngIf="!controls['message'].value || (controls['message'].invalid && (controls['message'].dirty || controls['message'].touched))"
                        [ngClass]="{'text-danger': controls['message'].invalid && (controls['message'].dirty || controls['message'].touched)}"
                        >*</span
                      ></label>
                      <div class="form-float">
                        <textarea
                          name=""
                          id="message"
                          class="form-control"
                          formControlName="message"
                        ></textarea>
                      </div>
                    </div>
                    <div class="row my-4 d-flex justify-content-center">
                      <button class="btn-login">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card p-5 align-items-center" *ngIf="iscard_Qrcode">
                <h1 class="fs-3 fw-bold text-center">{{ businessName }}</h1>
                <p class="text-center">
                  Please take a moment to review your experience with us. Your
                  feedback not only Helps other potential customers.
                </p>
                <img
                  src="../../../../assets/images/dashboard-user/Qr.png"
                  alt=""
                  class="connect-Qr img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
