<div class="container-fluid p-0">
    <section>
      <div class="row home-services-sec-1-bg-img justify-content-center">
        <div class="col-md-10 home-services-1-section">
          <div class="col-md-7">
            <p class="home-services-text">HOME SERVICES</p>
            <h2 class="home-services-headline">
                Expand your customer base and boost <br> your revenue.
            </h2>
            <p class="home-services-content">
                Rehook's home services software empowers home service providers to efficiently manage their customer ratings, establish instant communication with clients, and gain new customers thanks to positive reviews.
            </p>
            <button class="btn watch-video-btn" routerLink="login">
              Watch Video
              <img
              class="scaner-img ms-1 img-fluid"
              src="../../assets/images/home-page-bg-imgs/video-icon.svg"
              alt="Logo"
            />
            </button>
          </div>
          <div class="col-md-4">
            <div>
              <img
                class="home-services-img img-fluid"
                src="../../../assets/images/services/home-services/home-services-sec-1-img.svg"
                alt="Logo"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center home-services-bg-img-sec-2 mt-5">
        <div class="col-md-11 home-services-2-section">
          <div class="col-md-5">
            <div>
              <img
                class="home-services-img img-fluid"
                src="../../../assets/images/services/home-services/home-services-sec-2-img.svg"
                alt="Logo"
              />
            </div>
          </div>
          <div class="col-md-6 justify-content-center">
              <h2 class="home-services-headline-2">
                Locate Leads Online
              </h2>
              <p class="home-services-content">
                By achieving higher rankings in internet search results, you can attract a larger clientele to your home services company. To outshine your competitors and gain more favorable reviews, proactively reach out to customers and request feedback via SMS messages.
              </p>
              <h5 class="mt-1">
                <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                  >Get Started Now    <i class="fa fa-arrow-right"></i
                ></a>
              </h5>
            </div>
        </div>
      </div>
      <div class="row justify-content-center home-services-bg-img-3">
        <div class="col-md-10 home-services-3-section">
            <div class="col-md-7 justify-content-center">
                <h2 class="home-services-headline">
                    Expand Your Business, Not Your To-Do List
                </h2>
                <p class="home-services-content">
                    Your time is valuable, so we’ve made it quick and easy to manage both what people are saying about you and how you can engage with them.
                </p>
                <h5 class="mt-1">
                    <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                      >Get Started Now    <i class="fa fa-arrow-right"></i
                    ></a>
                  </h5>
              </div>
          <div class="col-md-5 ">
            <div>
              <img
                class="home-services-sec-3-img img-fluid"
                src="../../../assets/images/services/home-services/home-services-sec-3-img.svg"
                alt="Logo"
              />
            </div>
          </div>
       
        </div>
      </div>
      <div class="row home-services-bg-img-4 justify-content-center mt-5">
        <div class="col-md-10 home-services-4-section">
          <div class="col-md-5">
            <div>
              <img
                class="home-services-img img-fluid"
                src="../../../assets/images/services/home-services/home-services-sec-4-img.svg"
                alt="Logo"
              />
            </div>
          </div>
          <div class="col-md-6 justify-content-center">
            <h2 class="home-services-headline">
                Respond to Clients Five Times Faster
            </h2>
            <p class="home-services-content">
                Leverage our tools to actively engage your customers. Streamline your reviews and testimonials by getting all your information right in the app.
            </p>
            <h5 class="mt-1">
                <a href="" class="get-started-text fw-medium " routerLink="/solutions/review-blocker"
                  >Get Started Now    <i class="fa fa-arrow-right"></i
                ></a>
              </h5>
          </div>
        </div>
      </div>
      <div class="row p-5">
        <div class="col-md-12 home-services-sec-5">
          <h1 class="home-services-use-rehook">
            Hear From Content Rehook <br> Users
          </h1>
          <div
            id="carouselExample"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner d-flex">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-1.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-2.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-3.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-2.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-3.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-3">
                    <img
                      src="../../assets/images/home-page-bg-imgs/carousel-img/carousel-1.svg"
                      class="d-block w-100 img-fluid"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
              <!-- Add more .carousel-item as needed -->
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>